@import "tailwindcss";

@fontface {
  font-family: Raju;
  src: url('/fonts/Raju.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

nav a {
  color: #f7f7f7;
}

body {
  
  font-family: 'Raju';
}